// ========== 文字颜色 ==========
// 加重色
$theme-font-deep: #111;
// 主色
$theme-font: #333;
// 普通文本颜色
$theme-font-simple: #666;
// 备注信息颜色
$theme-font-info: #999;
// 浅色备注信息颜色
$theme-font-lower: #ccc;
// 普通警告，橙色
$theme-font-warn: #e64340;
// 错误，橙色
$theme-font-error: #e64340;
// ========== 文字颜色 end ==========
// ========== 边框颜色 ==========
$theme-input-bd: #ccc;
$theme-alert-bd: #ccc;
$theme-row-bd: #eee;
$theme-db: #39f;
// ========== 边框颜色 end ==========
// ========== 模板颜色 蓝色 ===========
// 主色
$theme: #1673d0;
// 深色
$theme-deep: #156dc6;
// 最深
$theme-deepest: blue;
// 浅色
$theme-low: #1773d0;
// 卖出button浅色
$theme-sell: #458fd8;
// 次浅色
$theme-lower: #8ab9ea;
// 最浅色
$theme-lowest: #92d1f3;
// 普通背景颜色
$theme-bg-grey: #efeff4;
// 边框颜色
$theme-border: #e5e5e5;
// 最小px
$font-size: rem(18);
// 最小字体大小
$small-font: rem(33);
// 部分页面背景颜色
$theme-part-bg: #f9f9f9;
// 交易规则边框颜色
$payrule-border: #d7d7d7;
// ========== 模板颜色 end ==========
// ========== 按钮 ==========
@mixin theme-btn($h: 144, $size: 54) {
  width: 100%;
  line-height: rem($h);
  background-color: $theme;
  font-size: rem($size);
  color: #fff;
  border-radius: rem($size*.4);
}

@mixin theme-btn-disabled() {
  background-color: $theme-lower;
  color: #eee;
}

@mixin theme-btn-bd($h: 144, $size: 54) {
  line-height: rem($h);
  border: 1px solid $theme-deep;
  color: $theme;
  font-size: rem($size);
  background-color: #fff;
  border-radius: rem($size*.4);
}

@mixin theme-btn-active {
  background-color: $theme-deep;
}

// ========== 按钮 end ==========
// ========== 层级 ==========
$z-normal: 1;
$z-dialog: 10;
$z-tip: 9100;
$z-toast: 9100;
$z-loading: 9000;
@mixin dialog-shadow($a: .6) {
  @if $a > 1 {
    background: rgb(153, 153, 153);
  }
  @else {
    background: rgba(0, 0, 0, $a);
  }
}

// ========== 层级 end ==========
