@import '../../components/scss/common.scss';
.b-ruledialog {
  .trans {
    padding: rem(80);
    padding-bottom: rem(200);
    .button {
      position: fixed;
      left: 0;
      bottom: 0;
      border-radius: 0 !important;
      @include theme-btn;
    }
  }
}
