@import '../scss/mixin.scss';
@import '../scss/theme.scss';
.c-loading {
  @include keyframes(rotation) {
    from {
      @include prefix(transform, rotate(0deg))
    }
    to {
      @include prefix(transform, rotate(360deg))
    }
  }
  .mask {
    &.shadow-0 {
      background-color: transparent;
    }
    &.shadow-1 {
      background-color: rgba(255, 255, 255, .7);
    }
    &.shadow-2 {
      background-color: rgb(255, 255, 255);
    }
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: $z-loading;
  }
  .img {
    position: relative;
    margin: 0 auto;
    margin-top: 45%;
    width: rem(200);
    height: rem(200);
    background: url(./loading.png) no-repeat;
    background-size: 100% 100%;
    z-index: $z-loading;
    @include animation(rotation 800ms linear infinite);
  }
}
