@import '../components/scss/common.scss';
@import './layout/base.scss';
.v-payrule {
  min-height: 100vh;
  background: $theme-part-bg;
  .tit {
    font-size: rem(42);
    height: 6*$font-size;
    line-height: 6*$font-size;
    padding: 0 3*$font-size;
  }
  .con {
    background: #ffffff;
    padding: 2*$font-size 3*$font-size 3*$font-size;
    .con-tit {
      padding: 0 0 2*$font-size rem(5);
      color: $theme-font-info;
      font-size: rem(39);
    }
    .pay-wrap {
      width: 100%;
      border: 0.5px solid $payrule-border;
      color: $theme-font;
      li {
        @include flex-parent;
        text-align: center;
        font-size: rem(39);
        height: 6*$font-size;
        border-bottom: 0.5px solid $payrule-border;
        .buy-time {
          font-size: rem(39)!important;
          line-height: 4*$font-size!important;
        }
        div {
          @include flex(1);
          line-height: 6*$font-size;
          &:nth-child(1) {
            font-size: $small-font;
            line-height: 2*$font-size;
            ;
            text-align: left;
            padding: $font-size 0 0 3*$font-size;
          }
          &:nth-child(2) {
            border-left: 0.5px solid $payrule-border;
            border-right: 0.5px solid $payrule-border;
          }
        }
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
  .end-date {
    background: #ffffff;
    padding: 2*$font-size 3*$font-size;
    .con-tit {
      color: $theme-font-info;
      font-size: rem(39);
      line-height: rem(60);
      padding-left: 4px;
    }
    .sec-tit {
      font-size: rem(42);
      color: $theme-font;
      padding: 2*$font-size 0;
    }
    .account-wrap {
      width: 100%;
      border: 0.5px solid $payrule-border;
      margin: 2*$font-size 0;
      li {
        @include flex-parent;
        height: 6*$font-size;
        line-height: 6*$font-size;
        text-align: center;
        font-size: rem(42);
        border-bottom: 0.5px solid $payrule-border;
        div {
          @include flex(1);
          &:nth-child(2) {
            border-left: 0.5px solid $payrule-border;
          }
        }
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
