@import '../components/scss/common.scss';
@import './layout/base.scss';
//======块与块之间的间隔=========
$interval:rem(36);

@mixin pflex(){
	display: -webkit-box;
  @include prefixv(display,flex);
}
@mixin cflex(){
	-webkit-box-flex:1;
  @include prefix(flex,1);
}
.without-property{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  overflow-y: auto;
}
.v-property {
	width: rem(1080);
  padding-bottom:$interval;
	background-color:$theme-bg-grey;
  .header {
  	@include pflex();
    width: rem(1080);
    padding: rem(54) rem(70) rem(40) rem(54);
    background: $theme-low url(../images/property/account_banner_bg.png) left top no-repeat;
    background-size: rem(1080) 100%;
    box-sizing:border-box;
		.head{
			width:rem(144);
			height:rem(144);
		}
  }
  //=====未开户=======
  .open-account,
  .no-property{
  	@include cflex();
  	padding-top:arem(1.5);
  	font-size:rem(42);
  	text-align:right;
  	color:#fff;
  	box-sizing:border-box;
  	.title{
  		font-weight: normal;
  		font-size:rem(66);
  		padding-bottom:arem(1);
  	}
  	.tip1{
  		padding-right: rem(18);
  	}
  	.btn{
  		width:rem(252);
  		height:rem(90);
  		line-height:rem(90);
  		margin-top:arem(2);
  		border:rem(3) solid #fff;
  		border-radius:rem(100);
  		box-sizing:border-box;
  		text-align:center;
  		font-size:rem(39);
  		color:#fff;
  	}
  }
  .banner{
  	display:block;
  	width: rem(1080);
  	margin-top:$interval;
  }
  .style-wrap{
  	width: rem(1080);
  	@include pflex();
  	margin-top:$interval;
  	padding:arem(6) arem(4.3) arem(7.8) arem(4);
  	box-sizing:border-box;
		background:#fff url(../images/property/financial.png) left top no-repeat;
		background-size:rem(1080);
  }
  .no-acc-left{
  	width:arem(43.5);
  }
  .no-acc-title{
  	margin-bottom: arem(1);
  	font-size:rem(54);
  	color:$theme-font-deep;
  }
  .no-acc-disc{
  	color:$theme-font-info;
  	font-size:rem(39);
  }
  .go-btn{
		@include cflex;
		font-size: rem(39);
		color: #5D76A4;
		white-space:nowrap;
		&::after{
			content:'';
			display:inline-block;
			width:arem(0.9);
			height:arem(1.7);
			background:url(../images/property/arrow.png) left top no-repeat;
			background-size:100%;
			margin-left:arem(0.7);
			vertical-align: middle;
		}
  }
  //=====已开户======
  .total-money{
    font-size:rem(90);
    font-weight:normal;
    margin-bottom:arem(1);
  }
  .total-property{
    font-size:rem(32);
  }
  .explain-icon{
    display:inline-block;
    width:rem(54);
    height:rem(54);
    background:url(../images/property/doubt.png) left top no-repeat;
    background-size:100%;
    vertical-align: middle;
    @include prefix(transform,translate(arem(-0.7),-2px));
  }
  .all-profit{
    margin-top:arem(4);
    font-size:rem(36);
  }
  .all-profit-first{
    padding-right:rem(42);
  }
  .property-wrap{
    width: 100%;
    margin-top:$interval;
    padding:arem(4) arem(4) 0;
    background-color:#fff;
    box-sizing:border-box;
  }
  .no-account-wrap{
    padding-bottom:arem(4.4);
  }
  .pflex{
    @include pflex();
    -webkit-box-align: center;
    .flex{
      @include cflex();
    }
  }
  .style-flex{
    @include prefix(align-items,center);
    padding-bottom:arem(1);
    box-sizing:border-box;
    white-space:nowrap;
  }
  .property-style{
    font-size:rem(66);
    font-weight:normal;
    color:$theme-font-deep;
    vertical-align:bottom;
    .unit{
      color:$theme-font-info;
      font-size:rem(39);
      padding-left: rem(18);
    }
  }
  .each-money{
    @include cflex();
    text-align:right;
    font-size: rem(54);
    color: $theme-font-simple;
  }
  .each-profit{
    text-align:right;
    font-size:rem(33);
    color:$theme-font-info;
    white-space: nowrap;
    .num{
      font-style: normal;
      color:#FF3A50;
    }
  }
  .each-profit-first{
    padding-right:rem(31);
  }
  .with-account{
    .style-flex{
      margin-top:arem(5);
    }
    .each-profit{
      padding-bottom:arem(3.2);
      box-sizing:border-box;
    }
  }
  .style-name{
    max-width:arem(23);
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right:rem(30);
    vertical-align:middle;
    font-size: rem(48);
    color: $theme-font-simple;
  }
  .financial-line{
    position:relative;
    &::after{
      content:'';
      display:block;
      width:arem(57);
      border-bottom: rem(1) solid $theme-border;
      position:absolute;
      bottom: 0;
      left:arem(-2);
    }
  }
  .txt-left{
    text-align:left;
  }
  .style-flag{
    padding:0 rem(8);
    color:#D2A06C;
    font-size:rem(30);
    border: rem(1) solid #D2A06C;
    border-radius: rem(6);
    box-sizing:border-box;
  }
  //=====总资产解释浮层=======
  .property-mask{
    position:fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color:rgba(255,255,255,.95);
    z-index: 10;
    text-align:center;
  }
  .p-mask-title{
    margin:arem(25) auto arem(3);
    font-weight:normal;
    font-size: rem(54);
    color: #333;
  }
  .p-mask-explain{
    font-size:rem(42);
    color:$theme-font-simple;
  }
  .p-mask-btn{
    width:arem(45);
    height:arem(8);
    margin:arem(30) auto arem(18);
    font-size:rem(54);
    color:$theme-low;
    background-color:transparent;
    border: rem(1) solid $theme-low;
    border-radius: rem(15);
    box-sizing:border-box;
  }
}



























