@import '../../components/scss/common.scss';
@import '../layout/base.scss';
$red-font: #E64340;
.v-buy {
  min-height: 100vh;
  background: $theme-part-bg;
  padding-top: 3*$font-size;
  .weui-cells {
    margin-top: 0!important;
  }
  .weui-cell {
    padding: 2*$font-size 3*$font-size!important;
    font-size: rem(48)!important;
  }
  .est-tip {
    padding: $font-size 3*$font-size 2*$font-size;
    font-size: rem(39);
    color: $theme-font-info;
    span {
      font-size: rem(30);
    }
    .est-money {
      font-size: rem(39);
      color: $red-font;
    }
    .tip {
      color: $red-font;
    }
  }
  .weui-label {
    width: rem(150)!important;
  }
  .end-wrap {
    margin-top: 0!important;
    margin-bottom: 3*$font-size;
    .weui-cell__ft {
      font-size: rem(42)!important;
      padding-right: rem(80)!important;
    }
  }
  .weui-cell__ft:after {
    width: 14px!important;
    height: 14px!important;
    top: 4px!important;
    right: 0!important;
    margin-top: 0!important;
  }
  .label-check {
    padding: 4*$font-size 3*$font-size!important;
    .label-title {
      font-size: rem(48);
      color: #333;
    }
    .label-content {
      font-size: rem(42);
      margin: 2*$font-size 4*$font-size 0 0;
      width: rem(800);
      color: $theme-font-info;
    }
  }
  .weui-cell_switch {
    height: 4*$font-size;
  }
  .recommend {
    margin: 2*$font-size 2*$font-size 2*$font-size;
    border: 0.5px solid $theme-font-info;
    border-radius: rem(15);
    padding-left: 2*$font-size;
    .recommendNum {
      display: inline-block;
      height: rem(145);
    }
  }
  .checkbox-tip {
    margin: 3*$font-size;
    margin-right: 0;
    font-size: rem(39)!important;
    .weui-agree__text {
      color: #999999;
    }
  }
  .goContract {
    display: inline-block;
    font-size: rem(39);
    color: #586C94;
  }
  .keyboardWrap {
    height: rem(592);
  }
  .weui-agree__checkbox {
    width: 16px!important;
    height: 16px!important;
    border: none!important;
    border-radius: 0!important;
    background: #1673d0!important;
  }
  .weui-agree__checkbox:checked:before {
    color: #fff!important;
    font-family: "weui";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
    speak: none;
    display: inline-block;
    vertical-align: middle;
    text-decoration: inherit;
    content: "\EA08";
    color: #09BB07;
    font-size: 13px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -48%) scale(0.73);
    transform: translate(-50%, -48%) scale(0.73);
  }
  .weui-icon-checked:before {
    width: 5*$font-size!important;
    height: 5*$font-size!important;
    border: none!important;
    border-radius: 50%!important;
    background: $theme!important;
    color: #fff!important;
    text-align: center;
    line-height: 5*$font-size;
    font-size: 3*$font-size!important;
  }
  .end-tips {
    padding: 2*$font-size 3*$font-size;
    color: $theme-font-info;
    font-size: rem(42);
    line-height: rem(63);
  }
  .buy-wrap {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8*$font-size;
    line-height: 8*$font-size;
    font-size: 3*$font-size;
    @include flex-parent;
    .pay-money {
      @include flex(2.5);
      background: #fff;
      color: $theme-font-info;
      font-size: rem(33);
      padding-left: 2*$font-size;
      .money {
        font-size: rem(48);
        color: $red-font;
      }
    }
    .buy {
      @include flex(1);
      background: $theme;
      color: #fff;
      text-align: center;
    }
    .disable-buy {
      background: #8ab9e7;
    }
  }
  .weui-popup {
    // background-color: #fff!important;
  }
  .weui-popup__hd {
    display: none!important;
  }
  .payErrorTitle {
    width: 100%;
    text-align: center;
    font-size: 3*$font-size;
    padding: 6*$font-size 0 6*$font-size;
  }
  .errorReason,
  .watchError {
    text-align: center;
    font-size: rem(42);
    color: #666666;
  }
  .watchError a {
    color: #576a94;
  }
  .errorWrap {
    margin: 6*$font-size 0;
    .knowError {
      width: 40*$font-size;
      margin: 0 auto;
      font-size: 3*$font-size;
      color: $theme;
      text-align: center;
      border: 1px solid #1673d0;
      line-height: 8*$font-size;
      border-radius: 8px;
    }
  }
}
