@import '../../components/scss/common.scss';
@import '../layout/base.scss';
.v-agreement {
  min-height: 100vh;
  background: $theme-part-bg;
  padding-top: 3*$font-size;
  .weui-cells {
    margin-top: 0!important;
  }
  .weui-cell_access .weui-cell__ft:after {
    width: 14px !important;
    height: 14px !important;
    top: -2px !important;
  }
}
