/* 订单明细 */

@import '../../components/scss/common.scss';
@import '../layout/base.scss';
.v-deal {
  min-height: 100vh;
  background: $theme-part-bg;
  .deal {
    font-size: rem(42);
    height: 6*$font-size;
    line-height: 6*$font-size;
    padding: 0 3*$font-size;
  }
  .wrap {
    .list {
      background: #fff;
      li {
        padding: 3*$font-size 2*$font-size 3*$font-size 0;
        margin-left: 3*$font-size;
        border-bottom: 0.5px solid $theme-input-bd;
        &:last-child {
          border: none;
        }
        .top {
          font-size: rem(48);
        }
        .bottom {
          color: $theme-font-info;
          font-size: rem(46);
        }
        .right {
          float: right;
        }
      }
    }
  }
  .more {
    font-size: rem(42);
    height: 6*$font-size;
    line-height: 6*$font-size;
    color: $theme-font-info;
    text-align: center;
  }
}
