@import '../../components/scss/common.scss';
@import '../layout/base.scss';
.v-order-list {
  min-height: 100vh;
  background: $theme-part-bg;
  .top {
    width: 100%;
    height: 17*$font-size;
    background: #fff;
    padding-left: 3*$font-size;
    @include flex-parent;
    align-items: center;
    .icon {
      width: rem(168);
      height: rem(120);
      img {
        width: 100%;
        height: 100%;
      }
    }
    .result {
      padding-left: 3*$font-size;
      line-height: 17*$font-size;
      color: $theme-font-deep;
      font-size: 3*$font-size;
    }
  }
  .content {
    margin-top: 2*$font-size;
    background: #fff;
    li {
      height: 8*$font-size;
      margin-left: 3*$font-size;
      padding-right: 3*$font-size;
      border-bottom: 0.5px solid $theme-input-bd;
      &:last-child {
        border: none;
      }
      span {
        display: inline-block;
        line-height: 8*$font-size;
        color: $theme-font-info;
        font-size: rem(48);
        &:last-child {
          color: $theme-font-deep;
          float: right;
        }
      }
    }
  }
}
