/*持仓页*/

@import '../../components/scss/common.scss';
@import '../layout/base.scss';
.v-position {
  padding-bottom: 70px;
  min-height: 100vh;
  background: $theme-part-bg;
  .info {
    width: 100%;
    background: $theme;
    padding-bottom: 3*$font-size;
    .title {
      padding-top: 3*$font-size;
      font-size: $small-font;
      color: #fff;
      text-align: center;
      .question {
        display: inline-flex;
        width: rem(40);
        height: rem(40);
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border: 1px solid #fff;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #fff;
      }
    }
    .my-money {
      line-height: rem(114);
      height: rem(114);
      padding-top: $font-size;
      font-size: rem(114);
      color: #fff;
      text-align: center;
    }
  }
  .limit-line {
    width: 100%;
    padding: 2*$font-size 0;
    @include flex-parent;
    background: $theme-deep;
    div {
      @include flex(1);
      height: 5*$font-size;
      font-size: $small-font;
      color: #fff;
      text-align: center;
      p {
        height: $small-font;
        &:nth-child(1) {
          padding-bottom: $font-size;
        }
        &:nth-child(2) {
          font-size: rem(38);
        }
      }
    }
    .limit-money {
      border-right: 1px solid #fff;
    }
  }
  .order-wrap {
    .order-list {
      font-size: rem(39);
      line-height: rem(72);
      color: $theme;
      background: #f4f7fc;
      border-bottom: 0.5px solid #dbe9f6;
      padding: 0 3*$font-size;
      position: relative;
      &:after {
        content: " ";
        display: inline-block;
        height: rem(25);
        width: rem(25);
        border-width: 2px 2px 0 0;
        border-color: $theme;
        border-style: solid;
        -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
        transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
        position: absolute;
        top: 50%;
        margin-top: rem(-13);
        right: 3*$font-size;
      }
    }
  }
  .buy-sell {
    @include flex-parent;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: rem(146);
    line-height: rem(146);
    background: $theme;
    color: #fff;
    font-size: rem(48);
    text-align: center;
    div {
      @include flex(1);
    }
    .sell {
      background: $theme-sell;
    }
    .sell-disable {
      @include theme-btn-disabled;
    }
    .buy-disable {
      @include theme-btn-disabled;
    }
  }
  .tips-title {
    font-size: 3*$font-size;
    text-align: center;
  }
  .to-top {
    margin-top: 6*$font-size;
  }
  .tips-content {
    font-size: rem(42);
    line-height: rem(63);
    color: $theme-font-simple;
    padding: 3*$font-size 3*$font-size;
  }
  .tips-know {
    @include theme-btn-bd;
    width: 54*$font-size;
    margin: 3*$font-size 3*$font-size;
    text-align: center;
  }
  .c-keyboard-weui {
    background: #fff;
    width: 100%;
    position: fixed;
    bottom: 0;
  }
  .nav {
    position: relative!important;
    background-color: #fff!important;
  }
  .weui-navbar {
    z-index: 0!important;
  }
  .tab-change {
    background: #fff;
    margin: 3*$font-size 3*$font-size 2*$font-size;
    border: 0.5px solid $theme-border;
    border-radius: rem(10);
    .wrap {
      @include flex-parent;
      div {
        @include flex(1);
        color: $theme-font-deep;
        font-size: rem(42);
        text-align: center;
        line-height: rem(90);
      }
      .choosed {
        background: #f6f6f6;
        border-right: 0.5px solid $theme-border;
      }
      .choosed-month {
        background: #f6f6f6;
        border-left: 0.5px solid $theme-border;
        border-right: 0.5px solid $theme-border;
      }
      .choosed-year {
        background: #f6f6f6;
        border-left: 0.5px solid $theme-border;
      }
    }
  }
  .weui-bar__item_on {
    background-color: #fff!important;
    color: #1674ce;
    border-bottom: 2px solid $theme-low;
  }
  .weui-navbar__item {
    position: initial!important;
    div {
      font-size: rem(48);
    }
    .yield {
      font-size: $small-font;
    }
  }
  .weui-navbar:after {
    border-bottom: none!important;
  }
  .weui-tab__panel {
    background: #fff!important;
    padding: 0 1*$font-size!important;
    border-bottom: 1px solid $theme-border;
  }
  .navTitle {
    padding: 3*$font-size 0 $font-size 0;
    font-size: $small-font;
    color: $theme-font-simple;
    text-align: center;
  }
  .weui-article {
    padding: 0!important;
  }
  .weui-cell__bd {
    color: $theme-font;
  }
  .weui-cell_access .weui-cell__ft:after {
    width: 14px!important;
    height: 14px!important;
    top: -2px!important;
  }
  .product.weui-cell_access .weui-cell__ft:after {
    border-width: 2px 0 0 2px!important;
  }
  .weui-cells:after {
    border-bottom: none!important;
  }
  .chart-body {
    padding: 3*$font-size 0 0 0;
    width: 100%;
    height: rem(800);
    background: #fff;
  }
  .tooltip {
    padding: 0 2*$font-size;
    line-height: 3*$font-size;
    position: relative;
    transform: translate(-50%);
    border-radius: rem(10);
    background: #1673d0;
  }
  .tooltip:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: 50%;
    top: 100%;
    transform: translate(-50%);
    border-top: rem(20) solid #1673d0;
    border-left: rem(20) solid transparent;
    border-right: rem(20) solid transparent;
  }
  .tooltip:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: 50%;
    top: 100%;
    transform: translate(-50%);
    border-top: rem(20) solid #1673d0;
    border-left: rem(20) solid transparent;
    border-right: rem(20) solid transparent;
  }
}
