@import '../scss/common.scss';
.c-regularfinancing {
  padding-bottom: rem(185);
  min-height: 100vh;
  background: $theme-part-bg;
  .info {
    width: 100%;
    background: $theme;
    padding-bottom: 3*$font-size;
    position: relative;
    .title {
      padding-top: 3*$font-size;
      font-size: $small-font;
      color: #fff;
      text-align: center;
      .question {
        display: inline-flex;
        width: rem(40);
        height: rem(40);
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border: 1px solid #fff;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #fff;
      }
    }
    .yield {
      line-height: rem(114);
      height: rem(114);
      padding-top: $font-size;
      font-size: rem(114);
      color: #fff;
      text-align: center;
      .percent {
        font-size: 4*$font-size;
      }
    }
    .mark {
      margin-top: 2*$font-size;
      height: rem(55);
      text-align: center;
      font-size: 0;
      p {
        margin: 0;
        padding: 0;
        display: inline-block;
        width: rem(180);
        height: rem(55);
        font-size: $small-font;
        line-height: rem(50);
        color: #fff;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border: 1px solid #fff;
        border-radius: rem(8);
        text-align: center;
        &:nth-child(1) {
          margin-right: 2*$font-size;
        }
      }
    }
    .state {
      width: rem(235);
      height: rem(235);
      position: absolute;
      right: 3*$font-size;
      top: $font-size;
      border: rem(8) solid #4690d7;
      border-radius: 50%;
      @include flex-parent;
      justify-content: center;
      align-items: center;
      .state-inner {
        width: rem(198);
        height: rem(198);
        border: rem(6) dashed #4690d7;
        border-radius: 50%;
        font-size: 4*$font-size;
        color: #4690d7;
        text-align: center;
        line-height: rem(198);
      }
    }
  }
  .limit {
    width: 100%;
    padding: 2*$font-size 0;
    @include flex-parent;
    background: $theme-deep;
    div {
      @include flex(1);
      height: 5*$font-size;
      font-size: $small-font;
      color: #fff;
      text-align: center;
      p {
        height: $small-font;
        &:nth-child(1) {
          padding-bottom: $font-size;
        }
        &:nth-child(2) {
          font-size: rem(38);
        }
      }
    }
    .day {
      border-left: 1px solid #fff;
      border-right: 1px solid #fff;
    }
  }
  .order-list {
    font-size: rem(33);
    color: $theme;
    background: #f4f7fc;
    border-bottom: 0.5px solid #dbe9f6;
    padding: 2*$font-size;
    position: relative;
    &:after {
      content: " ";
      display: inline-block;
      height: rem(25);
      width: rem(25);
      border-width: 2px 2px 0 0;
      border-color: $theme;
      border-style: solid;
      -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
      transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
      position: absolute;
      top: 50%;
      margin-top: rem(-13);
      right: 3*$font-size;
    }
  }
  .desc {
    .top {
      margin-top: 2*$font-size;
    }
    .rule {
      width: 100%;
      font-size: rem(42);
      color: $theme-font-simple;
      background: #fff;
      border-bottom: 1px solid #e5e5e5;
      .list {
        margin-left: 3*$font-size;
        padding: 3*$font-size 3*$font-size 0 0;
        @include flex-parent;
        line-height: rem(42);
        &:nth-child(1) {
          border-top: 1px solid #e5e5e5;
        }
        &:last-child {
          padding-bottom: 3*$font-size!important;
          line-height: rem(60);
        }
        .name {
          display: inline-block;
          @include flex(1);
          line-height: rem(60);
          color: $theme-font-info;
        }
        .memo {
          display: inline-block;
          @include flex(4);
          line-height: rem(60);
        }
      }
    }
    .desc-wrap {
      @extend .rule;
    }
    .notice-list {
      margin: 2*$font-size 0 0 0;
      border-bottom: 0.5px solid #e5e5e5;
    }
  }
  .buy {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: rem(146);
    line-height: rem(146);
    background: $theme;
    color: #fff;
    font-size: rem(48);
    text-align: center;
  }
  .disable-buy {
    background: #8ab9e7;
  }
  .profit-title {
    font-size: 3*$font-size;
    text-align: center;
    color: $theme-font-deep;
  }
  .profit-to-top {
    margin-top: 6*$font-size;
  }
  .profit-content {
    font-size: rem(42);
    line-height: rem(63);
    color: $theme-font-simple;
    padding: 3*$font-size 3*$font-size;
  }
  .profit-know {
    @include theme-btn-bd;
    width: 54*$font-size;
    margin: 3*$font-size 3*$font-size 0;
    text-align: center;
  }
}

.c-regularfinancing {
  .weui-cell {
    padding: 2*$font-size 3*$font-size!important;
  }
  .navbar {
    position: relative!important;
    background-color: #fff!important;
  }
  .weui-bar__item_on {
    background-color: #fff!important;
    color: #1674ce;
    border-bottom: 2px solid $theme-low;
  }
  .weui-navbar__item {
    position: initial!important;
    div {
      font-size: rem(48);
    }
    .yield {
      font-size: $small-font;
    }
  }
  .weui-navbar:after {
    border-bottom: none!important;
  }
  .weui-tab__panel {
    background: #fff!important;
    padding: 0 1*$font-size 3*$font-size!important;
    overflow: hidden;
  }
  .weui-article {
    padding: 0!important;
    width: 100%;
    height: rem(800);
  }
  .weui-cell__bd {
    color: $theme-font;
  }
  .weui-cell_access .weui-cell__ft:after {
    width: 14px!important;
    height: 14px!important;
    top: -2px!important;
  }
  .product.weui-cell_access .weui-cell__ft:after {
    border-width: 2px 0 0 2px!important;
  }
  .weui-cells:after {
    border-bottom: none!important;
  }
  .chart-body {
    padding: 3*$font-size 0 0 0;
    width: 100%;
    height: rem(800);
    background: #fff;
  }
  .tooltip {
    padding: 0 2*$font-size;
    line-height: 3*$font-size;
    position: relative;
    transform: translate(-50%);
    border-radius: rem(10);
    background: #1673d0;
  }
  .tooltip:before{
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      left: 50%;
      top: 100%;
      transform: translate(-50%);
      border-top: rem(20) solid #1673d0;
      border-left: rem(20) solid transparent;
      border-right: rem(20) solid transparent;
  }
  .tooltip:after{
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      left: 50%;
      top: 100%;
      transform: translate(-50%);
      border-top: rem(20) solid #1673d0;
      border-left: rem(20) solid transparent;
      border-right: rem(20) solid transparent;
  }
}
