@import '../scss/common.scss';
//======输入框圆角===========
$border-radius:rem(15);
.request-fail{
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color:#fff;
	z-index:$z-dialog;
	@include prefix(transform,translateY(100%));
	@include prefixv(transition,transform .3s);
	color:#111;
	font-size:arem(3);
	text-align:center;

	.fail-icon{
		width:arem(13.9);
		height:arem(10.6);
		margin:rem(258) auto rem(62);
		background:url(../../images/network-fail.png) left top no-repeat;
		background-size:100%;
	}
	.btn{
		display: block;
		width: arem(54);
		height: arem(8);
		line-height: arem(8);
		margin: arem(6) auto;
		text-align: center;
		color: #fff;
		font-size: rem(54);
		background-color: $theme-low;
		border-radius: $border-radius;
	}
}
.request-fail-show{
	@include prefix(transform,translateY(0));
}