.icon-clear {
  position: absolute;
  top: 50% !important;
  right: .8em;
  display: block;
  margin-top: rem(-33);
  width: rem(66);
  height: rem(66);
  position: absolute;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEIAAABCCAMAAADUivDaAAAASFBMVEUAAADd3d3e3t7l5eXe3t7d3d3e3t7i4uLy8vLe3t7d3d3e3t7d3d3f39/f39/h4eHe3t7d3d3////k5OT29vbv7+/g4ODr6+tlW67CAAAAEXRSTlMA5Jgc7c2KJwnf2qiBWFBDNpfF2LAAAAGBSURBVFjDtdjrboMwDAVg59pybQ8p5f3fdBPStq5JOIC387OqPhlHCjZSjRv6LjQe8E3o+sHJwdxsi7e09ia746JBMSbuq+VisRF7ocA1giRet4XRgMaMWyVY7IqtFuICdia4Sh8NdscUu3r3OBB/L9SQCcTI6nAGB2Pc21kEHE74fS4WJ2JfhRGnMr48hjlHmJ9HiTiZ+H2eOJ0L6eX+jjoo4uqdeCJPqnbDIM8y5f+fpwVZzHrTFoUpM+b1tyy3SjPT9JmUCY9KQ1vUDS6gzc4jM4gAOBlADCJgkB7EIAJ66UAMIqCTAGIQAUEaEIMIaMSDGESAF4AYRAAIMa9VpG3CE4EaXhoiPBIxGglEAIgRpGMCMzrpiUCNXgYiUGMQRwRqOJGWCMRoKxff8iVww1au3+cqFIxn8foVUzJmZEklwhx7KadHJiD+zQtR/1rWDwf6EUU/KOnHNf3QqB9d9QO0fozXLxP6lUa/WOnXO/WSqV911Qu3eu3/p48P+k8gHwwU4qqrJvc6AAAAAElFTkSuQmCC') no-repeat;
  background-size: 100%;
}
