@import '../../components/scss/common.scss';
.b-banklist {
  // display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, .9);
  > .title {
    padding: arem(6) 0 arem(5);
    font-size: rem(54);
    font-weight: 600;
    text-align: center;
  }
  $bd: 1px solid $theme-row-bd;
  .content {
    position: absolute;
    width: 100%;
    top: rem(250);
    bottom: rem(250);
    padding-left: arem(3);
    overflow: auto;
    border-top: $bd;
    border-bottom: $bd;
    @include border-box;
    color: $theme-font-simple;
    text-align: left;
    > div {
      padding: rem(40) 0;
      border-bottom: $bd;
    }
    > div:last-of-type {
      border-bottom: 0;
    }
    .title {
      padding-bottom: rem(10);
      line-height: rem(60);
      font-size: rem(42);
      font-weight: 600;
      color: $theme-font-deep;
      text-align: left;
    }
    .mess {
      font-size: rem(30);
      color: $theme-font-info;
    }
  }
  .button {
    position: fixed;
    width: 100%;
    padding: arem(3);
    bottom: 0;
    @include border-box;
    button {
      width: 100%;
      border-radius: .5em;
      @include theme-btn-bd;
    }
  }
}
